// Place all the styles related to the roofs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  margin-bottom: 0;
}
.roofs-map {
  height: 640px;
}

.leaflet-grab {
  cursor: crosshair;
}
.leaflet-marker-icon {
  border-radius: 50px;
  background: #2196F3;
  border: 2px solid black;
  border-color: rgba(0,0,0,0.2);
  cursor: -webkit-grab;
}
